
.header {
	position: relative;
	.section-headline {
		color: $color-dark;
	}
	.link {
		color: $color-dark;
		clear: right;
	}
}


.nav {
	float: right;
	list-style: none;
	margin-top: $length-large;
	margin-bottom: $length-large;
	padding: 0;


	.nav-item {
		float: left;
		clear: right;
		position: relative;
		background-color: transparent;
		transition: background-color 100ms ease-in-out;

		a {
			display: block;
			color: $color-dark;
			padding: $length-small $length-medium;
		}
		.sub-nav {
			position: absolute;
			list-style: none;

			width: 280px;
			right: 0;
			padding: 0;
			background-color: $color-light;
			box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
			z-index: 100;

			//animations
			transform: scale(0);
			transform-origin: 100% 0%;
			transition: all 100ms ease-in-out;
			.subnav-item {
				opacity: 0;
				transition: opacity 100ms ease-in-out;
				.sub-title {
					font-size: .8em;
					color: $color-muted;
				}
			}
			a {
				text-align: right;
				&:hover {
					background-color: $color-variant-5;
				}
				&:active {
					background-color: $color-variant-3;
				}
			}
		}
		&:hover {
			background-color: $color-variant-3;
		}
		&:hover .sub-nav {
			transform: scale(1);
			> li {
				opacity: 1;
			}
		}
	}
}

// set up mobile navigation

.menu-toggle {
	display: none;
	float: right;
	position: relative;
	overflow: hidden;
	width: 35px;
	height: 25px;

	margin: ($length-big - $length-small) 0;
	padding: 0;
	font-size: 0;
	text-indent: -9999px;
	background-color: transparent;
	appearance: none;
	box-shadow: none;
	border-radius: 0;
	border: none;
	cursor: pointer;


	span {
		display: block;
		position: absolute;
		height: 5px;
		width: 100%;
		background: $color-dark;
		border-radius: 4px;
		left: 0;
		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2) {
			top: 10px;
		}
		&:nth-child(3) {
			top: 20px;
		}
	}
	&:active, &:focus {
		outline: none;
	}

}

@include when-size-is('handheld') {
	.menu-toggle {
		display: block;
	}
	.nav {
		display: none;
		transform: scale(0);
		transform-origin: 100% 0%;
		transition: transform 100ms ease-in-out;
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		z-index: 120;

		position: absolute;
		right: 6%;
		top: $length-large + $length-small;

		background-color: $color-light;
		width: 200px;
		.nav-item {
			float: right;
			width: 100%;
			text-align: right;
			cursor: pointer;
			.sub-nav {
				right: 100%;
				top: 0;
				width: 150px;
				max-height: 300px;
				overflow-y: scroll;
			}
		}
	}
 	.nav.active {
		display: block;
		transform: scale(1);

	}
}
