
* {
	 box-sizing: border-box;
}
 body {
	 background-color: $color-primary;
 }

.hero {
	.section-headline {
		color: $color-dark;
	}
	.link {
		color: $color-dark;
		clear: right;
	}
}

.machine-container {
	background-color: $color-variant-2;
	border-radius: $length-tiny;
}

.slot-container {
	//background-color: $color-variant-2;
	padding: 0;
	.slot {
		background-color: $color-light;
		border: $length-small solid $color-variant-3;
		padding: $length-medium;
	}
}
.controls-container {
	padding: 0 0 0 $length-medium;
	.lever {
		background-color: $color-light;
		border: $length-small solid $color-variant-3;
		padding: $length-small;
		margin-bottom: $length-medium;

		width: 100%;
		padding: $length-small;
		font-family: $font-stack;
		font-size: 1.5 * $font-size-base; // h5 size
		text-transform: uppercase;
		cursor: pointer;
		&:hover {
			background-color: $color-variant-1;
		}
		&:active, &:focus {
			outline: none;
		}
	}
	.message-container {
		background-color: $color-variant-2;
		padding: $length-medium;
		.message {
			padding: 0;
			text-align: center;
			color: $color-dark;


			img {
				margin: 0 auto;
			}
			p {
				margin-bottom: 0;
			}
		}
		.message.message-result {
			display: none;
		}
	}
}



.slot {
	min-height: 150px;
}
