
* {
	 box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	 background-color: $color-primary;
	 height: 100%;
	 margin: 0;
	 padding: 0;
}
body.coffee-winner {

}
body.tea-winner {

}
body.espress-winner {

}



.hero {
	.section-headline {
		color: $color-dark;
	}
	.link {
		color: $color-dark;
		clear: right;
	}
}

.machine-container {
	background-color: $color-variant-2;
	border-radius: $length-tiny;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.slot-container {
	//background-color: $color-variant-2;
	padding: 0;
	.slot {
		background-color: $color-light;
		border: $length-small solid $color-variant-3;
		height: 300px;
		text-align: center;
		padding: 0;
		overflow: hidden;


		.slot-item {
			background-position: top;
			background-size: cover;
			height: 280px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			img {
				max-width: 100px;
			}
			p {
				margin: 0;
				text-align: center;
				color: $color-dark;
			}
		}
	}
}

.controls-container {
	padding: 0 0 0 $length-medium;
	.lever {
		background-color: $color-light;
		border: $length-small solid $color-variant-3;
		padding: $length-small;
		margin-bottom: $length-medium;

		width: 100%;
		padding: $length-small;
		font-family: $font-stack;
		font-size: 1.5 * $font-size-base; // h5 size
		text-transform: uppercase;
		cursor: pointer;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		transition: box-shadow 200ms ease-in-out;
		&:hover {
			//background-color: $color-variant-1;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		}
		&:active, &:focus {
			outline: none;
		}
	}
	.message-container {
		background-color: $color-variant-2;
		padding: $length-medium;
		.message {
			padding: 0;
			text-align: center;
			color: $color-dark;


			img {
				margin: 0 auto;
			}
			p {
				margin-bottom: 0;
			}
		}
		.message.message-result {
			display: none;
		}
	}
}
