
$color-variant-1: #B9D7D9; // light blue
$color-variant-2: #668284; // shaded teal
$color-variant-3: #2A2829; // blackish
$color-variant-4: #493736; // shaded brick
$color-variant-5: #7B3B3B; // brick

$color-dark: $color-variant-3;
$color-light: #fff;
$color-muted: #9B9B9B;
$color-primary: $color-variant-1; // lightest teal, links

$length-tiny: 5px;
$length-small: 10px;
$length-medium: 20px;
$length-large: 40px;
$length-huge: 80px;
