
$color-variant-1: #BED2D9;
$color-variant-2: #CBDBE0;
$color-variant-3: #DCE8EB;
$color-variant-4: #ECF1F2;
$color-variant-5: #F7F9FE;

$color-dark: #252525;
$color-light: #fff;
$color-muted: #9B9B9B;
$color-primary: $color-variant-1; // lightest teal, links

$length-tiny: 5px;
$length-small: 10px;
$length-medium: 20px;
$length-large: 40px;
$length-huge: 80px;
