

$color-dark: #171715;
$color-light: #fff;
$color-muted: #9B9B9B;
$brand-primary: #6f8780; // lightest teal, links

$color-variant-1: #384440; // teal
$color-variant-2: #172a26; // medium teal -.-
$color-variant-3: #181e1a; // dark teal

$length-tiny: 5px;
$length-small: 10px;
$length-medium: 20px;
$length-large: 40px;
$length-huge: 80px;
